:root {
  --qr-card: #2c7dfa;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --white: #fff;

  --font-family: 'Outfit', sans-serif;
  --font-size-base: 0.94rem;
  --font-size-heading: 1.37rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background: var(--slate-300);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

main {
  background: var(--white);
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 1.5625rem 1.5625rem rgba(0, 0, 0, 0.0476518);
  max-width: 20rem;
  width: 100%;
}

.qr-card {
  background: var(--qr-card);
  border-radius: 0.625rem;
  margin: 1rem;
}

.qr-code {
  padding: 4rem;
  width: 100%;
  height: auto;
  display: block;
}

section {
  margin-block-start: 1.5rem;
  padding: 0 1rem;
}

h1 {
  font-size: 1.37rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--slate-900);
  text-align: center;
  margin-block-end: 1rem;
}

p {
  font-size: 0.94rem;
  line-height: 140%;
  letter-spacing: 0.0125rem;
  font-weight: 400;
  color: var(--slate-500);
  text-align: center;
}
